[Desktop Entry]
Version=1.0
Type=Application

Name=Metronome
Comment=Minimalist metronome
Categories=Education;Music;
Keywords=Music;Study;Tools;

Icon=metronome
Exec=metronome
Terminal=false
